.box {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eeee;
    color: #191919;
    width: 60%;
    
}

.box div ´{
    width: 40%;

}


.box img {
    width: 50%;
    height: 500px;
    object-fit: cover;
}